.todo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: #f4f4f4;
  border: 1px solid #141414;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 30px 20px;
  
}

.todo__btn_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.todo__description{
  width: 100%;
  padding: 10px;
  border: 1px dotted black;
  border-radius: 5px;
  width: 100%;
  word-wrap: break-word;
}

.todo__title {
  margin: 0;
  width: 100%;
  word-wrap:break-word
}