.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(44, 44, 44, 0.5);
}

.modal {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.modal__container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.moda__action_title {
  text-align: center;
}

.modal__description {
  resize: none;
  border-radius: 20px;
}

.modal__title {
  border-radius: 10px;
}