.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(44, 44, 44, 0.5);
}

.modal {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.modal__container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}