.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241 245 249);
  padding: 5px 20px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

